In [118]:
import math

import numpy as np
import pandas as pd

In [180]:
df = pd.read_csv('model_data.csv')

In [181]:
df.tail()

,Unnamed: 0,element_no,tri_node_1,tri_node_2,tri_node_3,tri_node_1_x,tri_node_1_y,tri_node_2_x,tri_node_2_y,tri_node_3_x,tri_node_3_y
101,101,101,65,66,43,1.852504,0.814202,1.616350,1.190392,1.457880,0.808240
102,102,102,35,64,52,0.395353,1.281620,0.812718,1.200081,0.720359,1.610907
103,103,103,55,64,42,1.230406,1.116426,0.812718,1.200081,0.997282,0.811491
104,104,104,43,66,55,1.457880,0.808240,1.616350,1.190392,1.230406,1.116426
105,105,105,56,67,29,4.014172,0.695561,3.691691,0.819180,3.694844,0.422618

In [7]:
df.head()

,Unnamed: 0,element_no,tri_node_1,tri_node_2,tri_node_3,tri_node_1_x,tri_node_1_y,tri_node_2_x,tri_node_2_y,tri_node_3_x,tri_node_3_y
0,0,0,41,52,35,4.030930,1.123075,4.496190,0.768899,4.573433,1.270602
1,1,1,41,57,52,4.030930,1.123075,4.014172,0.695561,4.496190,0.768899
2,2,2,43,65,55,0.997282,0.811491,0.812718,1.200081,0.447392,0.786252
3,3,3,43,55,42,0.997282,0.811491,0.447392,0.786252,0.752119,0.423386
4,4,4,35,54,41,4.573433,1.270602,4.247375,1.599500,4.030930,1.123075

In [211]:
from fem import model

import importlib
importlib.reload(model)

In [212]:
model_obj = model.Model()

In [213]:
model_obj.read_model(model_filename="model_data.csv", young_module=210000, poisson_retio=0.3)

/Users/takumisano/OneDrive/Programming/jupyter_notebook/fem/fem/model.py:149: RuntimeWarning: divide by zero encountered in double_scalars
  coef = 1 / (2 * self._area)
/Users/takumisano/OneDrive/Programming/jupyter_notebook/fem/fem/model.py:152: RuntimeWarning: invalid value encountered in double_scalars
  [coef * (node_2.y - node_3.y), 0, coef * (node_3.y - node_1.y), 0, coef * (node_1.y - node_2.y), 0],
/Users/takumisano/OneDrive/Programming/jupyter_notebook/fem/fem/model.py:157: RuntimeWarning: invalid value encountered in multiply
  self._ke_mat = d_mat.thickness * self._area * self._b_mat.T @ d_mat.d_mat.T @ self._b_mat

In [214]:
model_obj.elements[3].nodes

{1: {'node_no': 42, 'coordinate': (0.9972821559999999, 0.811491471)},
 2: {'node_no': 54, 'coordinate': (0.44739165299999994, 0.786251565)},
 3: {'node_no': 41, 'coordinate': (0.752118685, 0.42338602299999994)}}

In [215]:
model_obj.elements[0].ke_mat

array([[ 21214.05357255,  -2317.2681315 ,  -7198.37637223,
         10037.5290286 , -14015.67720032,  -7720.26089709],
       [ -2317.2681315 ,   6519.86246593,   6918.81915978,
         -5278.31262685,  -4601.55102827,  -1241.54983907],
       [ -7198.37637223,   6918.81915978,   8861.36820555,
         -4785.69593817,  -1662.99183332,  -2133.12322161],
       [ 10037.5290286 ,  -5278.31262685,  -4785.69593817,
         25158.42971939,  -5251.83309043, -19880.11709253],
       [-14015.67720032,  -4601.55102827,  -1662.99183332,
         -5251.83309043,  15678.66903364,   9853.3841187 ],
       [ -7720.26089709,  -1241.54983907,  -2133.12322161,
        -19880.11709253,   9853.3841187 ,  21121.66693161]])

In [174]:
model_obj.elements[0].nodes[1]['node_no']

40

In [175]:
math.floor(5 / 2) + 1

3

In [176]:
1 % 2

1

In [217]:
pd.DataFrame(model_obj.k_mat.tolist()).to_csv("kmat.csv")

In [179]:
model_obj.model_data

{'node_num': 68,
 'dof_node': 2,
 'dof_total': 136,
 'node_tria': 3,
 'dof_tria3': 6,
 'element_num': 105}

In [216]:
model_obj.k_mat

array([[             nan,              nan,       0.        , ...,
              0.        ,       0.        ,       0.        ],
       [             nan,              nan,       0.        , ...,
              0.        ,       0.        ,       0.        ],
       [      0.        ,       0.        ,   -2618.59993635, ...,
              0.        ,       0.        ,       0.        ],
       ...,
       [      0.        ,       0.        ,       0.        , ...,
         260204.84413659,       0.        ,       0.        ],
       [      0.        ,       0.        ,       0.        , ...,
              0.        , -181490.72248788,   68797.06833965],
       [      0.        ,       0.        ,       0.        , ...,
              0.        ,   68797.06833965, -115561.24413166]])

In [196]:
A = np.array([
    [1, 2, 3],
    [4, 5, 6]
])

In [201]:
A[0][2]

3