In [1]:
import math

import numpy as np
import pandas as pd

In [142]:
from fem import model
from fem import construction_module

import importlib
importlib.reload(model)
importlib.reload(construction_module)

In [143]:
model_obj = model.ModelTri2d()

In [144]:
model_obj.read_model(csv_file_path="test_model.csv")

In [51]:
df = pd.read_csv("test_model.csv")

In [52]:
df

,element_no,tri_node_1,tri_node_2,tri_node_3,tri_node_1_x,tri_node_1_y,tri_node_2_x,tri_node_2_y,tri_node_3_x,tri_node_3_y
0,0,0,1,4,0,0,1,0,1,1
1,1,1,2,3,1,0,2,0,2,1
2,2,1,3,4,1,0,2,1,1,1
3,3,0,4,5,0,0,1,1,0,1

In [145]:
d_mat = construction_module.PlateStrainDMatrix(young_module=206*1e9, poisson_retio=0.3)

In [146]:
construction_module.run_static_calcration(model_obj=model_obj, d_mat=d_mat)

In [152]:
model_obj.elements[0].stack_data(key='ke_mat').shape

(6, 6)